.da-body-margin {
  margin: 8vh;
}

.da-bg-primary {
  background-color: #5c6bc0;
}

.da-bg-p-light {
  background-color: #8e99f3;
}

.da-bg-p-dark {
  background-color: #26418f;
}

.da-bg-secondary {
  background-color: #1565c0;
}

.da-bg-s-light {
  background-color: #5e92f3;
}

.da-bg-s-dark {
  background-color: #003c8f;
}

.da-error {
  background-color: #B00020;
}

.da-logo {
  margin: 2vh 0;
}

.da-createaccount-margin {
  margin-top: 5vh;
}
